* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: linear-gradient(to bottom, #e0f2fe, #90cdf4);
    padding-top: 100px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
